<ion-header>
  <ion-navbar >
    <ion-buttons start>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
  </ion-buttons>
    <ion-title style="background:white;" *ngIf="!isSearchbarOpened">
      <img src="../assets/imgs/g1.jpg" style="width: 80px;">
    </ion-title>
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only   *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true" >
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar>
    <ion-title ><h6  style="color: #8b0000">PREVISÃO TEMPO</h6></ion-title>
  </ion-navbar>

</ion-header>
  <ion-content padding>
    <ion-card>

      <ion-item>
        <ion-avatar item-start>
          <img src="../assets/imgs/g1.jpg">
        </ion-avatar>
        <h2>SÃO PAULO</h2>
        <p>13/06/2018</p>
      </ion-item>
    
      <img src="../assets/imgs/qq.png">
    
      <ion-card-content>
        <p></p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>2.435</div>
          </button>
        </ion-col>
    
        <ion-col center text-center>
          <ion-note>
            URGENTE!
          </ion-note>
        </ion-col>
      </ion-row>
    
    </ion-card>

    <ion-card>

      <ion-item>
        <ion-avatar item-start>
          <img src="../assets/imgs/g1.jpg">
        </ion-avatar>
        <h2>BRASÍLIA -DF</h2>
        <p>13/06/2018</p>
      </ion-item>
    
      <img src="../assets/imgs/ww.png">
    
      <ion-card-content>
        <p></p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>2.435</div>
          </button>
        </ion-col>
    
        <ion-col center text-center>
          <ion-note>
            URGENTE!
          </ion-note>
        </ion-col>
      </ion-row>
    
    </ion-card>

    <ion-card>

      <ion-item>
        <ion-avatar item-start>
          <img src="../assets/imgs/g1.jpg">
        </ion-avatar>
        <h2>RIO DE JANEIRO</h2>
        <p>13/06/2018</p>
      </ion-item>
    
      <img src="../assets/imgs/rr.png">
    
      <ion-card-content>
        <p></p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>2.435</div>
          </button>
        </ion-col>
    
        <ion-col center text-center>
          <ion-note>
            URGENTE!
          </ion-note>
        </ion-col>
      </ion-row>
    
    </ion-card>

    <ion-card>

      <ion-item>
        <ion-avatar item-start>
          <img src="../assets/imgs/g1.jpg">
        </ion-avatar>
        <h2>BELO HORIZONTE</h2>
        <p>13/06/2018</p>
      </ion-item>
    
      <img src="../assets/imgs/hh.png">
    
      <ion-card-content>
        <p></p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>2.435</div>
          </button>
        </ion-col>
    
        <ion-col center text-center>
          <ion-note>
            URGENTE!
          </ion-note>
        </ion-col>
      </ion-row>
    
    </ion-card>
  </ion-content>